In [0]:
print("Hello")

Hello

In [0]:
spark.conf.set(
  "fs.azure.account.key.datastorage45.dfs.core.windows.net",
  "B6GtS+Q5XDFToTViqtRGq6fg64di6BNqJZrvtaM0zMA2xIIa3S30Xzngf4v440FO9JHiMEkyXSTj+AStWCy+vA=="
)

In [0]:
df_customers = spark.read.parquet("abfss://retails@datastorage45.dfs.core.windows.net/MohammedHameds/Retails_Project/refs/heads/main/dataset/customers.parquet")
df_customers.show(5)

+-----------+----------------+--------------------+------------+-----------------+
|customer_id|       full_name|               email|     country|registration_date|
+-----------+----------------+--------------------+------------+-----------------+
|        101|    Ahmed Khaled|ahmed.khaled1@gma...|       Egypt|       2025-10-16|
|        102| Sara Al Mansour|sara.almansour2@o...|Saudi Arabia|       2025-10-18|
|        103|    Layla Kazemi|layla.kazemi3@yah...|         UAE|       2025-10-19|
|        104|     Omar Farouk|omar.farouk4@gmai...|       Egypt|       2025-10-17|
|        105|Fatima Al Rashid|fatima.alrashid5@...|Saudi Arabia|       2025-10-15|
+-----------+----------------+--------------------+------------+-----------------+
only showing top 5 rows

In [0]:
df_store = spark.read.parquet("abfss://retails@datastorage45.dfs.core.windows.net/dbo.stores .parquet")
df_store.show(5)

+--------+--------------------+------------+
|store_id|          store_name|    location|
+--------+--------------------+------------+
|       1|     City Mall Store|         UAE|
|       2|   High Street Store|Saudi Arabia|
|       3|   Tech World Outlet|       Qatar|
|       4|Cairo Festival Ci...|       Egypt|
|       5|          Mega Plaza|      Kuwait|
+--------+--------------------+------------+

In [0]:
df_transactions = spark.read.parquet("abfss://retails@datastorage45.dfs.core.windows.net/dbo.transactions .parquet")
df_transactions.show(5)

+--------------+-----------+----------+--------+--------+----------------+
|transaction_id|customer_id|product_id|store_id|quantity|transaction_date|
+--------------+-----------+----------+--------+--------+----------------+
|            31|        101|         1|       1|       3|      2025-04-01|
|            32|        102|         2|       2|       2|      2025-04-03|
|            33|        103|         3|       3|       1|      2025-04-05|
|            34|        104|         4|       4|       5|      2025-04-07|
|            35|        105|         5|       5|       2|      2025-04-09|
+--------------+-----------+----------+--------+--------+----------------+
only showing top 5 rows

In [0]:
df_products = spark.read.parquet("abfss://retails@datastorage45.dfs.core.windows.net/dbo.products .parquet")
df_products.show(5)

+----------+-----------------+-----------+-----+
|product_id|     product_name|   category|price|
+----------+-----------------+-----------+-----+
|         1|   Wireless Mouse|Electronics|  800|
|         2|Bluetooth Speaker|Electronics| 1200|
|         3|         Yoga Mat|    Fitness|  499|
|         4|     Laptop Stand|Accessories|  999|
|         5|     Notebook Set| Stationery|  149|
+----------+-----------------+-----------+-----+
only showing top 5 rows

In [0]:
df_store.write.mode("overwrite").saveAsTable("databreakkk.sales.store_bronze")

In [0]:
df_store.printSchema()
df_store.show(5)

root
 |-- store_id: integer (nullable = true)
 |-- store_name: string (nullable = true)
 |-- location: string (nullable = true)

+--------+--------------------+------------+
|store_id|          store_name|    location|
+--------+--------------------+------------+
|       1|     City Mall Store|         UAE|
|       2|   High Street Store|Saudi Arabia|
|       3|   Tech World Outlet|       Qatar|
|       4|Cairo Festival Ci...|       Egypt|
|       5|          Mega Plaza|      Kuwait|
+--------+--------------------+------------+

In [0]:
df_customers.printSchema()
df_customers.show(5)
df_transactions.printSchema()
df_transactions.show(5)
df_products.printSchema()
df_products.show(5)

root
 |-- customer_id: long (nullable = true)
 |-- full_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- country: string (nullable = true)
 |-- registration_date: string (nullable = true)

+-----------+----------------+--------------------+------------+-----------------+
|customer_id|       full_name|               email|     country|registration_date|
+-----------+----------------+--------------------+------------+-----------------+
|        101|    Ahmed Khaled|ahmed.khaled1@gma...|       Egypt|       2025-10-16|
|        102| Sara Al Mansour|sara.almansour2@o...|Saudi Arabia|       2025-10-18|
|        103|    Layla Kazemi|layla.kazemi3@yah...|         UAE|       2025-10-19|
|        104|     Omar Farouk|omar.farouk4@gmai...|       Egypt|       2025-10-17|
|        105|Fatima Al Rashid|fatima.alrashid5@...|Saudi Arabia|       2025-10-15|
+-----------+----------------+--------------------+------------+-----------------+
only showing top 5 rows
root
 |-- transaction_id: integer (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- store_id: integer (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- transaction_date: date (nullable = true)

+--------------+-----------+----------+--------+--------+----------------+
|transaction_id|customer_id|product_id|store_id|quantity|transaction_date|
+--------------+-----------+----------+--------+--------+----------------+
|            31|        101|         1|       1|       3|      2025-04-01|
|            32|        102|         2|       2|       2|      2025-04-03|
|            33|        103|         3|       3|       1|      2025-04-05|
|            34|        104|         4|       4|       5|      2025-04-07|
|            35|        105|         5|       5|       2|      2025-04-09|
+--------------+-----------+----------+--------+--------+----------------+
only showing top 5 rows
root
 |-- product_id: integer (nullable = true)
 |-- product_name: string (nullable = true)
 |-- category: string (nullable = true)
 |-- price: integer (nullable = true)

+----------+-----------------+-----------+-----+
|product_id|     product_name|   category|price|
+----------+-----------------+-----------+-----+
|         1|   Wireless Mouse|Electronics|  800|
|         2|Bluetooth Speaker|Electronics| 1200|
|         3|         Yoga Mat|    Fitness|  499|
|         4|     Laptop Stand|Accessories|  999|
|         5|     Notebook Set| Stationery|  149|
+----------+-----------------+-----------+-----+
only showing top 5 rows

In [0]:
from pyspark.sql.functions import col

In [0]:
df_customers = df_customers.select(

    col("customer_id").cast("int"),

    col("full_name"),

    col("email"),

    col("country"),

    col( "registration_date").cast("date")

)

df_customers.printSchema()

root
 |-- customer_id: integer (nullable = true)
 |-- full_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- country: string (nullable = true)
 |-- registration_date: date (nullable = true)

In [0]:
display(df_transactions)

transaction_id,customer_id,product_id,store_id,quantity,transaction_date
31,101,1,1,3,2025-04-01
32,102,2,2,2,2025-04-03
33,103,3,3,1,2025-04-05
34,104,4,4,5,2025-04-07
35,105,5,5,2,2025-04-09
36,106,6,1,4,2025-04-11
37,107,7,2,1,2025-04-13
38,108,8,3,3,2025-04-15
39,109,9,4,2,2025-04-17
40,110,10,5,5,2025-04-19
41,111,1,1,1,2025-04-21
42,112,2,2,4,2025-04-23
43,113,3,3,2,2025-04-25
44,114,4,4,3,2025-04-27
45,115,5,5,1,2025-04-29
46,116,6,1,2,2025-05-01
47,117,7,2,5,2025-05-03
48,118,8,3,3,2025-05-05
49,119,9,4,4,2025-05-07
50,120,10,5,2,2025-05-09
51,121,1,1,3,2025-05-11
52,122,2,2,4,2025-05-13
53,123,3,3,2,2025-05-15
54,124,4,4,5,2025-05-17
55,125,5,5,1,2025-05-19
56,126,6,1,4,2025-05-21
57,127,7,2,2,2025-05-23
58,101,8,3,3,2025-05-25
59,102,9,4,5,2025-05-27
60,103,10,5,1,2025-05-29
61,104,1,1,2,2025-06-01
62,105,2,2,3,2025-06-03
63,106,3,3,4,2025-06-05
64,107,4,4,5,2025-06-07
65,108,5,5,1,2025-06-09
66,109,6,1,2,2025-06-11
67,110,7,2,3,2025-06-13
68,111,8,3,4,2025-06-15
69,112,9,4,5,2025-06-17
70,113,10,5,1,2025-06-19
71,114,1,1,3,2025-06-21
72,115,2,2,2,2025-06-23
73,116,3,3,1,2025-06-25
74,117,4,4,4,2025-06-27
75,118,5,5,5,2025-06-29
76,119,6,1,2,2025-07-01
77,120,7,2,3,2025-07-03
78,121,8,3,4,2025-07-05
79,122,9,4,1,2025-07-07
80,123,10,5,2,2025-07-09

In [0]:
df_retails_silver=df_transactions.join(df_customers,'customer_id').join(df_products,'product_id').join(df_store,'store_id')

df_retails_silver.write.mode("overwrite").saveAsTable("databreakkk.sales.retails_silver")

In [0]:
from pyspark.sql.functions import sum,count

In [0]:
df_sales_by_country=df_retails_silver.groupBy("country").agg(count("transaction_id").alias("total_sales"))
df_sales_by_country.show(5)
df_sales_by_country.write.mode("overwrite").saveAsTable("databreakkk.sales.sales_by_country_gold")

+------------+-----------+
|     country|total_sales|
+------------+-----------+
|Saudi Arabia|         17|
|         UAE|         16|
|       Egypt|         17|
+------------+-----------+

In [0]:
df_category_by_country=df_retails_silver.groupBy("country","category").agg(sum("price").alias("total_sales"))
df_category_by_country.show(5)

+------------+-----------+-----------+
|     country|   category|total_sales|
+------------+-----------+-----------+
|Saudi Arabia|    Fitness|       2797|
|         UAE| Stationery|        298|
|         UAE|Electronics|       8798|
|       Egypt|Electronics|      13996|
|         UAE|    Fitness|       5594|
+------------+-----------+-----------+
only showing top 5 rows

In [0]:
df_category_by_country.write.mode("overwrite").saveAsTable("databreakkk.sales.category_by_country_gold")

In [0]:
df_top_product=df_retails_silver.groupBy("product_name").agg(sum("price").alias("total_sales")).orderBy(col("total_sales").desc())
df_top_product.show(5)

+-----------------+-----------+
|     product_name|total_sales|
+-----------------+-----------+
|       Smartwatch|      24995|
|     Dumbbell Set|       9995|
|Bluetooth Speaker|       6000|
|     Laptop Stand|       4995|
|   Wireless Mouse|       4000|
+-----------------+-----------+
only showing top 5 rows

In [0]:
df_top_product.write.mode("overwrite").saveAsTable("databreakkk.sales.top_product_gold")

In [0]:
df_top_store=df_retails_silver.groupBy("store_name").agg(sum("price").alias("total_sales")).orderBy(col("total_sales").desc())
df_top_store.show(5)
df_top_store.write.mode("overwrite").saveAsTable("databreakkk.sales.top_store_gold")

+--------------------+-----------+
|          store_name|total_sales|
+--------------------+-----------+
|   High Street Store|      30995|
|Cairo Festival Ci...|      14990|
|     City Mall Store|       5495|
|   Tech World Outlet|       4490|
|          Mega Plaza|       3740|
+--------------------+-----------+

In [0]:
from pyspark.sql.functions import month, year

df_monthly_sales = df_retails_silver \
    .withColumn("year", year(col("transaction_date"))) \
    .withColumn("month", month(col("transaction_date"))) \
    .groupBy("year", "month") \
    .agg(sum("price").alias("total_sales")) \
    .orderBy(col("year"), col("month"))


df_monthly_sales.show(10)
df_monthly_sales.write.mode("overwrite").saveAsTable("databreakkk.sales.monthly_sales_gold")

+----+-----+-----------+
|year|month|total_sales|
+----+-----+-----------+
|2025|    4|      15589|
|2025|    5|      20237|
|2025|    6|      15589|
|2025|    7|       8295|
+----+-----+-----------+

In [0]:
df_top_customer=df_retails_silver.groupBy("full_name").agg(sum("price").alias("total_sales")).orderBy(col("total_sales").desc())
df_top_customer.show(5)
df_top_customer.write.mode("overwrite").option("mergeSchema", "true").saveAsTable("databreakkk.sales.top_customer_gold")

+---------------+-----------+
|      full_name|total_sales|
+---------------+-----------+
|Mariam Al Farsi|       5998|
|    Mona Hossam|       5998|
|     Yara Saleh|       5598|
|     Tamer Adel|       5598|
|   Leila Hassan|       4999|
+---------------+-----------+
only showing top 5 rows